.Highlight {
  position: relative;
  font-weight: 600;
  transform: translate3d(0, 0, 0);
  display: inline-block;
  background: transparent;
  color: currentColor;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--ts-global-theme);
    z-index: -1;
    opacity: 0.8;
  }
}

.important-explamation {
  color: red;
  font-size: 16px;
  font-weight: bold;
  font-family: system-ui;
}


.NotificationTable {
  margin-bottom: 50px;
}

.group-row {
  background-color: #1c1e23;
  th {
    padding: 2px 0 2px 5px !important;
    font-weight: 100;
    font-size: 10px;
  }
}
