.Error {
  font-size: 13px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ts-color-red);
  background-color: var(--ts-color-white);
  position: relative;
  padding: 5px 10px;
  font-weight: 300;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--ts-color-red);
    opacity: 0.05;
    z-index: 0;
  }
  &-variable {
    margin-right: 0.7ch;
    font-weight: 600;
  }
}
