.Title {
  font-size: 18px;
  font-weight: 600;
  color: var(--ts-color-neutral-night);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1px;
  margin-bottom: 9px;
  flex: 1;
}