.Page {
  flex: 1;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
  &-content {
    display: flex;
    flex-direction: column;
    flex-basis: 420px;
    &:only-child {
      flex: 1;
      flex-basis: 100%;
    }
  }
  &-form {
    flex: 1;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #131519;
      width: 1px;
      z-index: 1;
    }
  }
  &-header {
    padding: 15px 20px 15px;
    background-color: var(--ts-global-theme);
    top: 0;
    position: sticky;
    z-index: 1;
    height: 100px;
    box-sizing: border-box;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #131519;
      opacity: 0.34;
      width: 1px;
      z-index: 2;
    }
  }
}

.globalNav {
  div:nth-of-type(1) {
    span {
      background-color: red;
    }
  }
  div:nth-of-type(2) {
    color: #999ea4;
    font-weight: 300;

    span {
      padding-right: 20px;
      border-right: 1px solid #c3c3c3ba;
    }
  }
  div:nth-of-type(3) {
    span {
      background-color: transparent;
    }
  }
}
