.Menu-item {
  display: flex;
  justify-content: space-between;
  margin-block: 5px;
  padding-inline-start: 10px;
  margin-block: 5px;
  margin-inline-start: 10px;
  padding: 8px 10px;
  cursor: pointer;

  &-active {
    background-color: #0000001a;
    border-radius: 15px;
  }
}